/* .saved_title{
    color: white;
}

.drink_name{
    color:  white;
} */

.image-test img {
    width: 100%;
    position: relative;
  }
  
  .image-test .overlay {
    position: absolute;
    top: 80px;
    right: 15px;
    font-weight: bold;
    text-align: right;
    font-size: 30px;
  }