#upload{
    color: black;
}

input::file-selector-button {
    display: inline-block;
  padding: 10px 20px;
  /* border-color: #014041; */
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #670404;
  color: #f8f8f8;
  font-size: .75rem;
  outline: 0;
  cursor: pointer;
}

.upload_button{
    display: inline-block;
    padding: 10px 20px;
    /* border-color: #014041; */
    border-width: 1px 1px 3px;
    border-radius: 4px;
    background-color: #670404;
    color: #f8f8f8;
    font-size: .75rem;
    outline: 0;
    cursor: pointer;
}

.form_input{
    margin-right: 0;
    font-family: 'Roboto';
    color: transparent;
}
